body{
  color: #123456;
  font-family: monospace,sans-serif,serif;
  margin: 0;
  text-align: center;
}
.aboutme{
  background-color: skyblue;
  padding: 120px;
}
h1{
  color:violet ;
  font-family: cursive,fantasy,monospace;
  font-size: 7rem;
  margin: 0 auto 0 auto;
  color: #586794;
}
h2{
  color: violet;
  font-family: fantasy,sans-serif,fantasy;
  font-size: 1.5rem;
  font-weight: normal;
  padding-bottom: 10px;
}
h3{
  color:#675483;
  font-family: cursive,sans-serif,serif;
}
.message{
  color: #876543;
  font-family: cursive,monospace,fantasy;
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 70px;
  margin-top: 50px;
}
.introduction{
  font-size: 1.17em;
  margin-block-start:1em;
    margin-block-end:1em;
      margin-inline-start:0px;
        margin-inline-end:0px;
        color:#134567;
        line-height: 2;
        font-weight: 700;
        width: 40%;
        margin: auto;
        padding-bottom: 35px;
}
hr{
  border-style: none;
  border-top-style:dotted;
  border-width: 5px;
  border-color: grey;
  width: 4%;
  color: #647834;
}
.leftimage{
  border-radius: 50%;
  background-color: #489723;
  width: 25%;
  float: left;
  margin-right: 30px;
}
.rightimage{
  border-radius: 50%;
  background-color: #567749;
  width: 25%;
  float: right;
  margin-left: 30px;
}
.skill-row{
  width: 50%;
  margin: 10px auto 120px auto;
  color: #678993;
}
.skill{
  margin-top: 80px;
  color: #344667;
}
p{
  line-height: 2;
  font-weight: 700;
  color: #987624;
}
.button{
  background-color: #689978;
  border-radius: 12px;
  color:orange;
  font-family: cursive,fantasy,monospace;
  padding: 15px;
  text-decoration: none;
}
.button1{
  background-color: #235369;
  border-radius: 12px;
  color:blue;
  font-family: cursive,fantasy,monospace;
  padding: 15px;
  text-decoration: none;
}
.button:hover{
  background-color: #597863;
  border-radius: 12px;
  color: yellow;
  font-family: fantasy,monospace,sans-serif;
  padding: 15px;
  text-decoration: none;
}
.button:hover{
  background-color: #172984;
}
.footer{
  background-color: #478795;
  padding: 50px 0 20px;
}
.footer a{
  color: #126289;
}
a{
  text-decoration: none;
  color: #121644;
}
.link{
  padding: 10px;
  color: #213789;
}
.link:hover{
  color:yellow;
}
.contact{
  margin: 70px 0px;
  color: #345682;
}
.nav{
  position: absolute;
              background-color: #111;
              list-style-type: none;
              width: 100%;
              padding: 0px;
}
.nav li{
  display: flex;
            flex-direction: column;
            float: left;
}
.nav li a{
  font-family: Georgia, 'Times New Roman', Times, serif;
          text-decoration: none;
          color: violet;
          display: block;
          padding: 15px 53px;
          font-size: 24px;
}
.nav li a:hover{
  background-color: #555;
}
a{
  padding-right: 40px;
}
a:hover{
  color: #745678;
}
.aboutme-education{
  background-color:yellow;
  padding: 50px;
}
.education{
  color: #478958;
  font-family: monospace,sans-serif;
  font-size: 2rem;
  font-weight: normal;
  padding-bottom: 10px;
}
.linkedin a {
  color:#895671;
  font-family: serif;
}
.edu-data-li{
  padding: 10px;
}
li{
  list-style-type: none;
}
.aboutme-work {
  background-color: #256778;
  padding:50px;
}
.pen{
  color: #589465;
  font-family: monospace;
  font-size: 2rem;
  font-weight: normal;
  padding-bottom: 18px;
}
.link-web{
  line-height: 3;
}
.aboutme-skills{
  background-color: #948954;
  padding: 50px;
}
.skills-data{
  margin:0 auto 30px;
  width:50%;
}
table{
  font-family: sans-serif;
  margin: auto;
}
td{
  padding: 10px;
  text-align: center;
}
.nav a{
  color:#676883;
}
